h1{
    margin: 0;
}
.flex{
    display:flex;
}
header{
    position: sticky;
    top:0;
}
.menu-navegacion{
    background-color: aquamarine;
    justify-content: flex-end;
}
.menu-navegacion ul{
    list-style: none;
    
}
.menu-hamburguesa{
    width:45px;
}
.info-personal{
    background-color: bisque;
    height: 100vh;
}