h1{
    margin: 0 10% 0 10%;
    text-align: center;
    color:rgb(255, 235, 205)
}
h2{
    width: fit-content;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    background-color: rgb(32, 30, 30);
    padding:30px 10px 10px 10px;
    margin:0;
    font-size: 190%;
}

.flex{
    display:flex;
}
.flex_column{
    display:flex;
    flex-direction: column;
}
.hiden{
    display: none;
}
.back_white{
    background-color: white;
}
header{
    position: sticky;
    top:0;
}
.menu-navegacion{
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    
}
.menu-navegacion ul{
    box-sizing: border-box;
    background-color: rgb(32, 30, 30);
    margin: 0 3% 0 3%;
    list-style: none;
    position:absolute;
    margin-top:13%;
    border:3px dashed white;
    width:94%;
    padding: 0% 2% 0 2%;
}
.menu-navegacion li{
    box-sizing: border-box;
    border-bottom: 2px dashed white;
    justify-content: center;
}
.menu-navegacion a{
    font-size: 180%;
    color: white;
    text-decoration: none;
    width: 100%;
    text-align: center;

}
.menu-navegacion li:last-child{
    border: none;
}
.menu-hamburguesa{
    width:45px;
    margin-right: 20px;
}
.info-personal{
    background-color: rgb(32, 30, 30);
    height: 90vh;
    padding-top: 10%;
}
.pc-container{
align-items: center;
}
.monitor{
    box-sizing: border-box;
    justify-content: space-around;
    border-radius: 5px;
    margin: 100px 0 0 0;
    border: 7px solid blanchedalmond;
    width:250px;
    height: 150px;
    padding: 8px 37px 8px 37px;
}

.monitor div{ 
    height: 0;
    
    border: 1px dashed blanchedalmond;

}
.monitor div:first-child{
    align-self: center;
    border: 1px solid blanchedalmond;
    width: 50%;
    height: 40%;

}
.teclado{
    margin-top: 30px;
    border: 3px solid blanchedalmond;
    padding: 1%;
}
.teclado>div{
    display: flex;
    justify-content: space-between;
    
    width: 100%;
    
}
.teclado>div>div{
    flex-wrap:nowrap;
    border: 1px solid blanchedalmond;
    margin: 2px;
    height: 13px;
    width: 13px;
}
.teclado div.barra{
    width:55px
}
.seccion-habilidades{
    background-color:blanchedalmond;
    height: 50vh;
    align-items: center;
}
.iconos{
    margin-top: 45px;
}
.iconos img{
    width:100px;
}
.seccion-tecnologias{
    background-color: rgb(32, 30, 30);
    height: 50vh;
    align-items: center;
}
.seccion-tecnologias h2{
    color: rgb(32, 30, 30);
    background-color:blanchedalmond;
    
}
.seccion-proyectos{
    background-color:blanchedalmond;
    height: 75vh;
    align-items: center;
}
footer{
    background-color: bisque;
    height: 15vh;
}